* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #00526d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container {
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #7e8287;
    border-radius: 20px;
    /* box-shadow: 0 0 21px rgba(0, 0, 0, 0.5); */
    box-shadow: inset 1px 1px 9px 9px rgb(0 0 0 / 50%);
}

.left_container {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    border-radius: 10px;
}

.bill {
    width: 100%;
    height: 50px;
}

.input_container {
    display: flex;
    align-items: center;
    background-color: #F6F7FC;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
}

.input_container input {
    background: none;
    border: none;
    outline: none;
    text-align: end;
    width: 100%;
}

.tip_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    padding-top: 5px;
}

.tip_btn {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-size: 24px;
    background-color: #1e852d;
    text-align: center;
    width: 100px;
    padding: 7px 0;
    border: none;
    border-radius: 5px;
    transition: .1s;
}

.active, .tip_btn:hover {
    background-color: #349fa5;
}

.input_tip {
    color: hsl(183, 100%, 15%);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 100px;
    padding: 7px 0;
    background-color: hsl(189, 41%, 97%);
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.282);
    cursor: pointer;
}

.people {
    width: 100%;
    height: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* RIGHT SIDE CONTAINER */

.right {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100%;
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    padding: 34px;
    color: white;
}

.tip_amount_person, .total_amount_person {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tip_amount_label, .total_amount_label {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    position: relative;
    left: 147%;
    bottom: 50%;
}

.right p:nth-child(1), p:nth-child(4) {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}
.right p:nth-child(2), p:nth-child(5) {
    font-size: 10px;
    font-weight: bold;
    color: rgb(176, 167, 153);
}

label {
    color: #22d915b8;
    font-size: 35px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}

.reset_button {
    display: flex;
    justify-content: center;
    position: relative;
    top: 41%;
}

.reset_btn:hover {
    background-color: rgba(11, 148, 1, 0.59);
}

.reset_btn {
    display:flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 37px;
    background-color: #24b31a;
    color: hsl(120, 9%, 85%);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    body {
        padding: 20px;
    }
    .container {
        height: 100vh;
        width: 75vw;
        flex-direction: column;
    }
    .tip_container {
        justify-content: center;
        column-gap: 10px;
    }
    label {
        font-size: 25px;
    }
    #left {
        width: 100%;
        flex-direction: column;
    }
    .right {
        width: 100%;
        flex-direction: column
    }
}

